@import "tailwindcss";
@theme {
    --color-primary: var(--primary-color);
    --color-primary-dark: var(--primary-dark);
}

:root {
    --primary-color: #0056b3;
    --primary-dark: #003d80;
}


/* ستايل عام ناعم للموقع */

body {
    background-color: #f8fafc;
    color: #0f172a;
    transition: background-color 0.3s ease;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}


/* تحسين شكل الـ Scrollbar */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap');
.font-arabic {
    font-family: 'Cairo', sans-serif !important;
}